h1 a { 
	background: url(../img/admin/equilibra.png) 50% 50% no-repeat !important; 
	background-size: 90px 90px !important; 
}
body.login { 
	background: url(../img/admin/bg-admin.png) !important;
}
.login form {
	background-color: #0087a4;
}
.login label {
	color: white;
}
.login form input[type="submit"] {
	background-color: #a5cd38;
}
